html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #80694c;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

header{
    height: 10rem;
}

.container{
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(180deg, #212a12, #80694c);
    display: block;
    position: fixed;
}

.header-links{
    display: flex;
    gap: 8rem;
    align-items: center;
}

.account {
    width: 7rem;
    right: 6rem;
    position: absolute;
    top: 2rem;
    user-select: none;
    cursor: pointer;
}

.link{
    color: #c4d3a5;
    font-size: 3rem;
    font-weight: 300;
    cursor: pointer;
    font-style: normal;
    display: inline-block;
    margin-left: 2rem;
}

.casey{
    font-weight: 600;
}

.bottom-line {
    width: 95%;
    margin: 0 auto;
    height: 0.5rem;
    background-color: #bcce99;
    border-radius: 1rem;
}

.title{
    display: inline-block;
    background: linear-gradient(to right, #778858, #c4d3a5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: "Rouge Script", cursive;
    font-size: 9rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    padding-left: 8rem;
}

.searchbar {
    width: 40%;
    padding: 1rem;
    height: 2rem;
    border-radius: 5rem;
    background-color: #D0C2A8;
    top: 16rem;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    border: #613908 double 0.5rem;
    color: black;
    font-size: 1.8rem;
}

.a_container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-top: 20rem;
    margin-left: 8rem;
}

.button-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 20%;
}

.accessories{
    color: #dacab2;
}

.divider {
    width: 20%;
    height: 0.2rem;
    background-color: #bcce99;
    border-radius: 4rem;
}

.button{
    width: 25%;
    height: 3rem;
    color: #dacab2;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    text-align: left;
    background: none;
}

.button:hover{
    border-bottom: solid 0.2rem #dacab2;
}