html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #80694c;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(24, 6rem);
    grid-template-rows: repeat(36, 6rem);
}

.container{
    display: flex;
}

header{
    background-image: linear-gradient(180deg, #212a12, #80694c);
    height: 14%;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.header-links{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.account {
    width: 5rem;
    right: 5rem;
    margin-left: 5rem;
}

.link{
    color: #c4d3a5;
    font-size: 3rem;
    font-weight: 300;
    cursor: pointer;
    font-style: normal;
    display: inline-block;
    margin-left: 10rem;
}

.link:hover {
    border-bottom: solid 0.15rem #bcce99;
}

.casey{
    font-weight: 600;
}

.bottom-line {
    width: 95%;
    margin: 0 auto;
    height: 0.5rem;
    background-color: #bcce99;
    border-radius: 1rem;
}

.title{
    display: inline-block;
    background: linear-gradient(to right, #778858, #c4d3a5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: "Rouge Script", cursive;
    font-size: 9rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    padding-left: 8rem;
}


.searchbar {
    width: 40%;
    padding: 1rem;
    height: 3rem;
    border-radius: 5rem;
    background-color: #D0C2A8;
    top: 20%;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    border: #613908 double 0.5rem;
    color: black;
    font-size: 1.8rem;
    display: grid;
}

.a_container {
    display: grid;
    grid-column: 2/9;
    grid-row: 7/12;
}

.button-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 20%;
}

.accessories{
    color: #dacab2;
}

.divider {
    width: 20%;
    height: 0.2rem;
    background-color: #bcce99;
    border-radius: 4rem;
}

.button{
    width: 25%;
    height: 3rem;
    color: #dacab2;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    text-align: left;
    background: none;
}

.button:hover {
    border-bottom: solid 0.15rem #bcce99;
}


.cards {
    grid-column: 8/26;
    grid-row: 9/35;
    display: flex;
    flex-wrap: wrap;
    margin-right: 2rem;
    gap: 2rem;
}

.card {
    background: #a4937a;
    width: 30%;
    height: 45%;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -10px, rgba(0, 0, 0, 0.22) 0px 18px 36px -18px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.productimg {
    width: 100%;
    height: 70%;
    object-fit: fill;
    border-radius: 1rem;
}

.detail{
    font-size: 2rem;
    font-weight: 100;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    height: 10rem;
    width: 96.79vw;
    padding: 2rem;
    position: absolute;
}

.footer-top{
    color: #cbd6b3;
    font-size: 2rem;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
}

.social-icons{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.facebook{
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
}

.instagram{
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
}

.twitter{
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
}

.rights{
    color: #cbd6b3;
    font-size: 2rem;
    text-align: right;
}

@media (min-width: 901px) and (max-width: 1590px) {
    .title {
        font-size: 9rem; /* Adjust title size for smaller screens */
    }

    .link {
        margin-left: 6rem;
        font-size: 2.5rem; /* Adjust link size for smaller screens */
    }

    header{
        height: 18rem;
    }

    footer{
        width: 139rem;
    }
   
}

@media (min-width: 601px) and (max-width: 900px) {

    body {
        font-size: 2.5rem;
    }

    .dashboard {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(18, 6rem);
    }


    .a_container {
        grid-column: 2 / 8;
        grid-row: 7 / 12;
        width: 100%;
    }

    .button-container {
        width: 50%;
    }

    .cards {
        grid-column: 6 / 13;
        grid-row: 9 / 35;
        width: 100%;
    }

    .card {
        width: 40%;
        height: 40%;
    }

    header {
        height: auto;
        padding: 1rem;
        position: absolute;
        width: 100%;
    }

    .header-links {
        justify-content: center;
    }

    .link {
        margin-left: 1rem;
        font-size: 2rem;
    }

    .title {
        font-size: 5rem;
        padding-left: 1rem;
        text-align: center;
    }

    footer{
        width: 100%;
        position: absolute;
        padding: 1rem;
        height: 10%;
        margin-top: 55%;
    }
}

@media (max-width: 600px) {

    body {
        font-size: 2rem; 
    }

    .dashboard {
        display: block;
    }

    .searchbar {
        width: 90%;  
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        top: auto;
        margin: 2rem auto;
        font-size: 1.4rem;
    }

    .a_container {
        grid-column: auto;
        grid-row: auto;
        width: 90%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .button-container {
        width: 100%;
        margin-top: 1rem;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .button {
        width: auto;
        font-size: 1.6rem;
        text-align: center;
        padding: 0.5rem 1rem;
    }

    .cards {
        grid-column: auto;
        grid-row: auto;
        display: flex;
        flex-direction: column;
        margin-right: 0;
        gap: 1rem;
        width: 90%;
        margin: 2rem auto;
    }

    .card {
        width: 100%;
        height: auto;
    }

    header {
        height: auto;
        padding: 1rem;
        position: relative;
    }

    .header-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .link {
        margin-left: 1rem;
        font-size: 2rem;
    }

    .title {
        font-size: 5rem;
        padding-left: 1rem;
        text-align: center;
    }

    footer {
        width: 100%;
        position: relative;
        padding: 1rem;
        height: 100%;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}
