html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

*{
    margin: 0;
    padding: 0;
}

header{
    height: 10rem;
}

.container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    background-image: linear-gradient(180deg, #212a12, #3E482A);
}

.bottom-line {
    width: 95%;
    margin: 0 auto;
    height: 0.5rem;
    background-color: #bcce99;
    border-radius: 1rem;
}

.title{
    display: inline-block;
    background: linear-gradient(to right, #778858, #c4d3a5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: "Rouge Script", cursive;
    font-size: 9rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    padding-left: 1rem;
}

body{
    background-color: #3E482A;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

.b_container{
    margin-top: 8rem;
    text-align: center;
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 15rem;
}

.button{
    font-size: 5rem;
    background: none;
    border: none;
    color: #cbd6b3;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    padding: 1rem;
    cursor: pointer;
}

.c_container{
    display: flex;
    gap: 30rem;
}

.newdeal {
    display: flex;
    background: #8a7957;
    height: 20%;
    width: 45%;
    margin-left: 3rem;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 12rem;
    gap: 2rem;
    box-shadow: 0.5rem 0.5rem 2rem #051e01;
    border: #613908 double 1rem;
}

.newdeal img{
    width: 40%;
    height: auto;
    border-radius: 1rem;
}

.newdeal_text{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.newdeal_text h2{
    font-size: 7rem;
    margin-bottom: 1rem;
}

.newdeal_text p{
    font-size: 2.2rem;
    margin-top: 0.5rem;
}

.code{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.4rem;
}

.login_buttons{
    margin-top: 2rem;

}

.b1{
    font-size: 5rem;
    background: #3E482A;
    color: #cbd6b3;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    padding: 1rem;
    cursor: pointer;
    border-radius: 1rem;
    margin: 2rem;
    width: 100%;
}

.details{
    background: #cfc1a6;
    width: 20%;
    height: auto;
    margin-top: 6rem;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    box-shadow: 0.5rem 0.5rem 2rem #051e01;
    border: #613908 double 1rem;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    height: 10rem;
    margin-top: 10rem;
    padding: 2rem;
}

.footer-top{
    color: #cbd6b3;
    font-size: 2rem;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
}

.social-icons{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.facebook{
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
}

.instagram{
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
}

.twitter{
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
}

.rights{
    color: #cbd6b3;
    font-size: 2rem;
    text-align: right;
}
