
html, body {
  height: 100%;  
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

html {
  font-family: "Rouge Script";
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
}
 .main-content {
    flex: 1;
 }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: linear-gradient(180deg, #212a12, #3E482A);
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}


body {
  background-color: #3E482A;
  display: flex;
  flex-direction: column;
  padding-top: 10rem; 
}


h2 {
  color: #bcce99;
  font-family: "Rouge Script";
  font-weight: 400;
  font-size: 10rem;
  margin: 3rem 3rem 0 3rem;
}


.media-thing {
  background-color: #212a12;
  width: 100%;
  margin-top: 6rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}


.footer-text {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  margin-bottom: 1rem;    
  font-size: 3rem;
  color: #bcce99;
  width: auto;
}

.footer-top {
  margin: 1rem;
  font-size: 3rem;
  color: #bcce99;
}


.searchbar {
  width: 50%;
  margin: 7rem 5rem 4rem 3rem;
  height: 5.5rem;
  background-color: #bcce99;
  border-radius: 4rem;
  border: double 0.5rem #613908;
  padding-left: 1rem;
  font-size: 2rem;
}

.search-and-clothes-thing {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
}


.fa-cart-shopping {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1001;
  padding: 1rem;
  cursor: pointer;
  font-size: 7rem;
  color: black;
}


.another-line {
  width: 25%;
  margin: 0 3rem 6rem 3rem;
  height: 0.5rem;
  background-color: #bcce99;
  border-radius: 1rem;
}

.bottom-line {
  width: 95%;
  margin: 0 auto;
  height: 0.5rem;
  background-color: #bcce99;
  border-radius: 1rem;
}


.button1, .button {
  display: flex;
  border: none;
  margin: auto;
  height: 50px;
  align-items: center;
  font-family: "Allura";
  font-size: 3rem;
  color: #c4d3a5;
  background: none;
  position: relative;
  padding: 5px;
  font-style: normal;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.button1 span, .button span {
  position: relative;
  display: inline-block;
}

.button1 span::after, .button span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #bcce99;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.button1:hover span::after, .button:hover span::after {
  transform: scaleX(1);
}

.button1:hover span, .button:hover span {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.button1:focus, .button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(61, 65, 51);
}

.wrap-button {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
}


.wild {
  padding: 5px;
  margin: 1rem auto;
  text-align: center;
  font-family: "Rouge Script";
  font-weight: 400;
  display: inline-block;
  background: linear-gradient(to right, #778858, #c4d3a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 9rem;
  z-index: 1000;
}

.container {
  display: flex;
}

/* Social Icons */
.socials {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  margin: 2px;
  padding: 2px;
}

/* Misc */
.text1 {
  padding: 2rem;
  font-size: 3rem;
  margin: 0 auto;
}
